---
layout: default
title: Mohnish Jadwani
---

<section id="about-me">
  <div class="container">
    <h3> Hello, I'm Mohnish, originally from Bengaluru(🇮🇳) & currently based in Berlin(🇩🇪) </h2>
    <br/>
    <p>
      I work as a <b>software consultant specialising</b> in <a href="/being_of_service_as_a_rails_consultant">Ruby on Rails(10+ years experience)</a> & <a href="/being_of_service_as_a_team_coach/">Team coaching</a>. I'm grateful to have worked out of Singapore & UK in the past and for companies like Sephora, Honeypot, Babbel & Indeed to name a few. My <a href="https://bit.ly/mohnish_resume">résumé</a> has more work experience details.
    </p>

    <p>
      I'm driven by my <a href="https://bit.ly/mohnish_human_and_engineering_values">values.</a> I care about people and my work, believe in <a href="https://bit.ly/probono_coaching_mentoring_connect_with_mohnish">giving back</a> and in the spirit of <a href="https://www.youtube.com/watch?v=44xbZ8MN1uk">Ubuntu</a> and <a href="https://www.azhagi.com/motto-love-all-serve-all-help-ever-hurt-never.php">Lokahitam Mama Karaṇīyam</a>.
      You are welcome to
      <!-- Calendly link widget begin -->
      <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
      <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
      <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/sadhakforlife/explore-how-we-could-collaborate-together'});return false;">setup a call with me</a>
      <!-- Calendly link widget end -->
      or email me via mail4mohnishj@gmail.com to explore how we could collaborate together.
    </p>
  </div>
</section>

<div class='posts'>
  {% for post in site.posts %}

    <div class='post-listing'>
      <a class='title' href='{{ post.url }}'>{{ post.title }}</a>
      <br>
      <span class='published-on'>{{ post.date | date: "%-d %B %Y" }}</span>
      {% for category in post.categories %}
      <a href="/categories/{{ category }}/" class='category'> {{ category }} </a>
      {% endfor %}
    </div>

  {% endfor %}
</div>
